---
interface Props {
    dist: {
        x: number,
        y: number
    }
    [key:string]: any
}

const {dist, ...rest} = Astro.props as Props;
---
<div parallax-item={JSON.stringify(dist)} {...rest}>
    <slot/>
</div>