---
import Card from "@ui/Card.astro";
import Image from "@assets/Image.astro"
import type {teamMemberID} from "@ts/types";

type teamMember = {
  img: string;
  name: string;
  position: string;
};

type team = {
  [key: string]: teamMember;
};

interface Props {
  id: teamMemberID;
}

const { id } = Astro.props as Props;

const team: team = {
  "1001": {
    img: "https://static.tildacdn.com/tild6132-6431-4561-a538-333963613166/Rectangle_605.png",
    name: "Tamara Kostiuk",
    position: "Illustrator",
  },
  "1201": {
    img: "https://static.tildacdn.com/tild6432-6630-4664-a639-613533306164/photo_2024-01-17_231.jpeg",
    name: "Anastasia Ponkrashenkova",
    position: "Project Manager",
  },
  "0202": {
    img: "https://static.tildacdn.com/tild6435-3630-4861-b633-326366346136/Rectangle_609.png",
    name: "Alexey Chernov",
    position: "Head Backend Developer",
  },
  "1302": {
    img: "https://static.tildacdn.com/tild3238-3536-4532-b661-303335613664/Rectangle_596.png",
    name: "Andrey Riabov",
    position: "Head Unity Developer",
  },
  "1603": {
    img: "https://static.tildacdn.com/tild3832-3231-4237-b664-663632656139/Rectangle_608.png",
    name: "Alex Stoyanov",
    position: "Backend Developer",
  },
  "2904": {
    img: "",
    name: "Leonid Zinov",
    position: "QA Engineer",
  },
  "0705": {
    img: "",
    name: "Ilya Riabov",
    position: "QA Engineer",
  },
  "1706": {
    img: "https://static.tildacdn.com/tild3664-3436-4334-b763-326333643361/Rectangle_611.png",
    name: "Jane Nekrashevich",
    position: "Head Writer",
  },
  "2508": {
    img: "	https://static.tildacdn.com/tild6463-6462-4638-a335-396538623534/Rectangle_604.png",
    name: "Ark Fainitsky",
    position: "Music Composer",
  },
  "1009": {
    img: "https://static.tildacdn.com/tild3765-3364-4339-b038-316664373939/Rectangle_615.png",
    name: "Miro Dorofeev",
    position: "Product Manager",
  },
  "1609": {
    img: "https://static.tildacdn.com/tild3932-3938-4634-a662-396431363030/Rectangle_595.png",
    name: "Ilya Shpynov",
    position: "Unity Developer",
  },
  "0211": {
    img: "",
    name: "Helen Kostyreva",
    position: "QA Engineer",
  },
  "1311": {
    img: "https://static.tildacdn.com/tild6137-3437-4465-a564-396535346266/Rectangle_603.png",
    name: "Alex Farina",
    position: "Localization Manager",
  },
  "1811": {
    img: "https://static.tildacdn.com/tild6133-3934-4261-a666-626266623632/Rectangle_607.png",
    name: "Julia Arkhipova",
    position: "Head UX/UI Designer",
  },
  "2211": {
    img: "",
    name: "Victoria Kasianova",
    position: "Frontend Developer",
  },
  "2511": {
    img: "https://static.tildacdn.com/tild6430-3037-4330-a138-393333626230/Rectangle_606.png",
    name: "Lily Nebesskaya",
    position: "UX/UI Designer",
  },
  "0212": {
    img: "",
    name: "Robert Safonov",
    position: "QA Engineer",
  },
  "2912": {
    img: "https://static.tildacdn.com/tild3835-6630-4234-b532-313931636164/Rectangle_614.png",
    name: "Alex Tuchkov",
    position: "Owner & Game Designer",
  },
};

const img = team?.[id]?.img;
const name = team?.[id]?.name;
const position = team?.[id]?.position;
---

<Card
  className="group flex flex-col gap-[8px] w-[110px] h-[160px]"
>
  <Image url={img} slot="card-img" className="grayscale group-hover:grayscale-0 grow min-h-[93%] [&>img]:object-cover rounded-[4px] desktop-md:rounded-[8px] border border-solid border-[#D3D3D3]">
    <span
        class={`flex items-end justify-center absolute z-10 top-0 left-0 w-full h-full py-[8px] px-[4px] destop-md:py-[16px] desktop-md:px-[8px] text-jost text-center font-bold text-[#D3D3D3] text-[10px] desktop-lg:text-[20px] uppercase bg-gradient-to-t from-black via-transparent to-transparent invisible group-hover:visible`}
      >
        {name}
      </span>
  </Image>
  <p class="w-full text-gold uppercase text-center text-[12px]" slot="card-content">{position}</p>
</Card>
