@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Bebas-Neue";
  font-style: "normal";
  font-weight: 400;
  src: local("Bebas-Neue"),
  url("/assets/fonts/Bebas-Neue.ttf") format('truetype'),
}

:root {
  --shadow1: 0px 0px 15px rgba(229, 149, 46, 0.40);
  --shadow2: 0px 0px 5px rgba(116, 115, 122, 1);
}

body {
  box-sizing: border-box;
}
.gold-bordered {
  position: relative;
}
.gold-bordered:before,
  .gold-bordered:after,
  .silver-bordered:before,
  .silver-bordered:after {
    content: "";
    position: absolute;
    width: 60%;
    height: 80%;
    border-radius: 5px;
    z-index: 1;
  }
  .gold-bordered:before,
  .silver-bordered::before {
    bottom: 0;
    left: 0;
  }
  .gold-bordered:after,
  .silver-bordered::after {
    top: 0;
    right: 0
  }
  .gold-bordered:before {
    background: linear-gradient(
      40deg,
      #d1ae6d 6%,
      #615845 20%,
      transparent 45%
    );
  }
  .gold-bordered:after {
    background: linear-gradient(
      220deg,
      #d1ae6d 6%,
      #615845 20%,
      transparent 45%
    );
  }
  .silver-bordered::before {
    background: linear-gradient(
      40deg,
      #A9A9A9 6%,
      #616161 20%,
      transparent 45%
    );
  }
  .silver-bordered::after {
    background: linear-gradient(
      220deg,
      #A9A9A9 6%,
      #616161 20%,
      transparent 45%
    );
  }