---
import TeamMember from "@components/Cards/TeamMember/TeamMember.astro";
import Slider from "@ui/Slider.astro";
const teamMembers: string[] = [
  "1302",
  "1609",
  "0202",
  "1009",
  "1201",
  "1811",
  "2511",
  "1001",
  "1706",
  "1311",
  "0001",
  "0211",
  "0705",
  "2508",
  "0003",
  "0004",
  "0006",
  "0007",
  "2912",
];
---

<section id="astro-team-carousel">
  <Slider animation={{ duration: teamMembers.length * 2.5 }}>
    {teamMembers?.map((id: string) => <TeamMember id={id} />)}
  </Slider>
</section>
