---
import Page from "@layouts/Page.astro";
import InteractiveInterface from "@components/InteractiveInterface/InteractiveInterface.astro";
import FollowersSlider from "@components/Sliders/FollowersSlider.astro";
import TeamSlider from "@components/Sliders/TeamSlider.astro";
---

<Page title="Reign">
  <section id="astro-interactive-gallery" class="px-[15px] desktop-sm:px-[30px]">
    <InteractiveInterface />
  </section>
  <section id="astro-team-carousel">
    <TeamSlider />
  </section>
  <section id="followers-carousel">
    <FollowersSlider />
  </section>
</Page>
