---
import Button from "ui/Button.astro";
import Image from "@assets/Image.astro";
import type { FollowerID } from "@ts/types";
import Follower from "@components/Cards/Follower/Follower.astro";

const followers: FollowerID[] = ["2804", "2502", "2005", "2403"];
---

<div
  class="min-h-[135px] flex justify-between items-center gap-[60px] desktop-sm:gap-[120px] shrink-0 px-[10px] desktop-md:px-[20px] pt-[15px] pb-[5px] desktop-sm:pt-[30px]"
>
  <div class="shrink-0 h-full" tooltip-id="btn-ability-intelligence">
    <Button variant="gold-bordered" size="lg">
      <span
        class="block w-[36px] h-[36px] desktop-sm:w-[60px] desktop-sm:h-[60px] desktop-md:w-[72px] desktop-md:h-[72px]"
      >
        <Image name="coin-gold" width="72" height="72" />
      </span>
    </Button>
  </div>
  <div
    class=" grow flex justify-center items-start min-w-[375px] max-w-[750px] gap-2 px-[8px] shrink-0"
    tooltip-id="followers-hand"
    followers-hand
  >
    {followers?.map((id: FollowerID) => <Follower id={id} />)}
  </div>
  <div class="shrink-0 h-full" tooltip-id="btn-resourses">
    <Button variant="gold-bordered" size="lg">
      <span
        class="block w-[28px] h-[28px] desktop-md:w-[55px] desktop-md:h-[55px]"
      >
        <Image name="icon-resourses" width="72" height="72" />
      </span>
    </Button>
  </div>
</div>
