---
import Button from "ui/Button.astro";
import Hero from "@components/Cards/Hero.astro";
import Image from "@assets/Image.astro";
import type { heroID } from "@ts/types";

const heroes: heroID[] = [
  "1101",
  "1201",
  "1301",
  "1401",
  "1501",
  "1601",
  "1701",
  "1801",
];
---

<div
  class="flex justify-between items-center shrink-0 gap-[30px] desktop-md:gap-[50px] pb-[15px] desktop-sm:pb-[30px] overflow-hidden"
>
  <div class="relative shrink-0 h-full" tooltip-id="btn-timer">
    <Button variant="corner-left" size="lg">
      30
    </Button>
  </div>
  <div
    class="relative h-full flex items-center justify-center min-w-[225px]"
    tooltip-id="header-heroes"
  >
    {heroes?.map((id: heroID) => <Hero id={id} mode="horizontal" />)}
  </div>
  <div
    class="shrink-0 flex items-center justify-center opacity-50"
    tooltip-id="btn-settings">
    <Image
    name="icon-settings"
    width="28"
    height="28"
    className="desktop-sm:w-[42px] desktop-sm:h-[42px] desktop-md:w-[56px] desktop-md:h-[56px]"
  />
  </div>
</div>
