---
import InterfaceFooter from "./InterfaceFooter.astro";
import InterfaceHeader from "./InterfaceHeader.astro";
import PlayersTable from "./PlayersTable/index.astro";
---

<div
  class="relative w-full h-full flex flex-col gap-[4px] [&>div]:overflow-hidden"
  tooltip-container
  tooltip-container-overlay="true"
>
  <InterfaceHeader />
  <PlayersTable />
  <InterfaceFooter />
</div>
