---
import Button from "@components/Button.astro";
import Hero from "@components/Hero.astro";
import Image from "@assets/Image.astro";
import Tooltip from "@components/Tooltip/Tooltip.astro";
---

<Tooltip
  id="header-heroes"
  content={{
    title: "header-heroes title",
    content: "header-heroes content",
  }}
/>
<Tooltip
  id="btn-settings"
  content={{
    title: "btn-settings title",
    content: "btn-settings content",
  }}
/>
<Tooltip
  id="btn-timer"
  content={{
    title: "btn-timer title",
    content: "btn-timer content",
  }}
/>
<Tooltip
  id="btn-sml-timer"
  content={{
    title: "btn-sml-timer title",
    content: "btn-sml-timer content",
  }}
/>

<div
  class="h-[12%] min-h-[45px] max-h-[90px] flex justify-between items-center shrink-0"
>
  <div class="relative shrink-0 h-full">
    <Button variant="trapezoid-right" size="lg" tooltip-id="btn-timer">30</Button>
    <span class="absolute right-0 top-0" tooltip-id="btn-sml-timer">
      <Button variant="silver-bordered" size="sm">90</Button>
    </span>
  </div>
  <div
    class="rerlative h-full flex items-center justify-center p-[0_25px_0_32px] desktop-md:p-[0_2vw_0_2.5vw]"
    tooltip-id="header-heroes"
  >
    <Hero id="1101" mode="horizontal" />
    <Hero id="1201" mode="horizontal" />
    <Hero id="1301" mode="horizontal" orderFlag="empty" />
    <Hero id="1401" mode="horizontal" />
    <Hero id="1501" mode="horizontal" />
    <Hero id="1601" mode="horizontal" />
    <Hero id="1701" mode="horizontal" orderFlag="real" />
    <Hero id="1801" mode="horizontal" />
  </div>
  <div class="shrink-0 h-full" tooltip-id="btn-settings">
    <Button variant="trapezoid-left" size="lg">
      <Image
        name="icon-settings"
        className="w-[22px] h-[22px] desktop-sm:w-[33px] desktop-sm:h-[33px] desktop-md:w-[44px] desktop-md:h-[44px]"
      />
    </Button>
  </div>
</div>
