---
import Tooltip from "@ui/Tooltip.astro";
import Footer from "./Footer.astro";
import Header from "./Header.astro";
import PlayersTable from "./PlayersTable/PlayerTable.astro";
import { useTranslations } from "i18n/utils";
import { interactiveInterfaceTr } from "./translations";
import MobileMockup from "@components/MobileMockup.astro";
import Image from "@assets/Image.astro";

const t = useTranslations(interactiveInterfaceTr);
---

<style>
  body:has([interactive-interface-container].opened) {
    overflow: hidden;
  }
  [interactive-interface-container].opened {
    background-color: black;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow: hidden;
  }
  [interactive-interface-message] {
    display: none;
  }
  [interactive-interface-close] {
    display: none;
  }
  [interactive-interface-mockup] {
    display: none;
  }
  [interactive-interface-container].opened [interactive-interface-mockup] {
    display: none;
  }
  [interactive-interface-container].opened [interactive-interface-message] {
    display: flex;
  }
  [interactive-interface-container].opened [interactive-interface-close] {
    display: block;
  }

  @media (orientation: landscape) {
    [interactive-interface-container].opened [interactive-interface] {
      visibility: visible;
      opacity: 1;
      width: 100vw;
      height: 100vh;
      overflow: auto;
    }
    [interactive-interface-container].opened [interactive-interface-message] {
      display: none;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 812px) {
    [interactive-interface] {
      height: 0;
      width: 0;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.2s;
    }
    [interactive-interface-mockup] {
      min-height: 300px;
      display: block;
    }
  }
</style>
<div interactive-interface-container>
  <div class="w-full min-w-full px-[15px]" interactive-interface-mockup>
    <Image className="w-full" name="interactive-interface-mockup" />
  </div>
  <p class="p-[15px] w-full flex justify-center" interactive-interface-message>
    <span class="text-gold text-[12px]">
      {t("popup-message")}
    </span>
  </p>
  <span
    class="w-[30px] h-[30px] bg-[rgba(0,0,0,0.8)] fixed top-0 right-0 z-[100] cursor-pointer"
    interactive-interface-close
  >
    <Image name="icon-gold-cross" />
  </span>
  <div interactive-interface tooltip-container>
    <MobileMockup>
      <div
        class="relative w-full h-full flex flex-col gap-[4px] [&>div]:overflow-hidden"
      >
        <>
          <Tooltip
            id="follower-card-sm"
            content={{
              title: t("follower-card-sm")?.title,
              content: t("follower-card-sm")?.content,
            }}
          />
          <Tooltip
            id="follower-value"
            content={{
              title: t("follower-value")?.title,
              content: t("follower-value")?.content,
            }}
          />
          <Tooltip
            id="hero-card"
            content={{
              title: t("hero-card")?.title,
              content: t("hero-card")?.content,
            }}
          />
          <Tooltip
            id="hero-card-cover"
            content={{
              title: t("hero-card-cover")?.title,
              content: t("hero-card-cover")?.content,
            }}
          />
          <Tooltip
            id="hero-order"
            content={{
              title: t("hero-order")?.title,
              content: t("hero-order")?.content,
            }}
          />
          <Tooltip
            id="hero-flag"
            content={{
              title: t("hero-flag")?.title,
              content: t("hero-flag")?.content,
            }}
          />
          <Tooltip
            id="statistics"
            content={{
              title: t("statistics")?.title,
              content: t("statistics")?.content,
            }}
          />
          <Tooltip
            id="header-heroes"
            content={{
              title: t("header-heroes")?.title,
              content: t("header-heroes")?.content,
            }}
          />
          <Tooltip
            id="btn-settings"
            content={{
              title: t("btn-settings")?.title,
              content: t("btn-settings")?.content,
            }}
          />
          <Tooltip
            id="btn-timer"
            content={{
              title: t("btn-timer")?.title,
              content: t("btn-timer")?.content,
            }}
          />
          <Tooltip
            id="btn-sm-timer"
            content={{
              title: t("btn-sm-timer")?.title,
              content: t("btn-sm-timer")?.content,
            }}
          />
          <Tooltip
            id="btn-resourses"
            content={{
              title: t("btn-resourses")?.title,
              content: t("btn-resourses")?.content,
            }}
          />
          <Tooltip
            id="btn-ability-intelligence"
            content={{
              title: t("btn-ability-intelligence")?.title,
              content: t("btn-ability-intelligence")?.content,
            }}
          />
          <Tooltip
            id="followers-hand"
            content={{
              title: t("followers-hand")?.title,
              content: t("btn-ability-intelligence")?.content,
            }}
          />
          <Tooltip
            id="player-name"
            content={{
              title: t("player-name")?.title,
              content: t("player-name")?.content,
            }}
          />
        </>
        <Header />
        <PlayersTable />
        <Footer />
      </div>
    </MobileMockup>
  </div>
</div>

<script>
  const container = document.querySelector("[interactive-interface-container]");
  if (container) {
    const mockup = container.querySelector(
      "[interactive-interface-mockup]"
    ) as HTMLElement;
    const close = container.querySelector("[interactive-interface-close]");
    close?.addEventListener("click", closeInteractiveInterfaceOnMobile);
    mockup?.addEventListener("click", openInteractiveInterfaceOnMobile);

    function openInteractiveInterfaceOnMobile() {
      container?.classList.add("opened");
    }
    function closeInteractiveInterfaceOnMobile() {
      container?.classList.remove("opened");
    }
  }
</script>
