---
interface Props {
  className?: string | undefined
}
const {className, ...rest} = Astro.props as Props;
---
<div
  class={`h-full w-full relative [&>span]:absolute [&>span]:z-20 [&>span]:flex [&>span]:justify-center [&>span]:items-center [&>span]:bg-contain [&>span]:bg-center [&>span]:bg-no-repeat ${className ?? ''}`}
  {...rest}
>
  <slot name="img"/>
  {
    Astro.slots.has("icon-top-left") && (
      <slot name="icon-top-left" />
    )
  }
  {
    Astro.slots.has("icon-top-right") && (
      <slot name="icon-top-right" />
    )
  }
  {
    Astro.slots.has("icon-bottom-right") && (
      <slot name="icon-bottom-right" />
    )
  }
  {
    Astro.slots.has("icon-bottom-left") && (
        <slot name="icon-bottom-left" />
    )
  }
</div>
