---
interface Props {
  className?: string | undefined;
}
const { className, ...rest } = Astro.props as Props;
---

<div
  class={`relative [&>span]:absolute [&>span]:z-20 [&>span]:flex [&>span]:justify-center [&>span]:items-center [&>span]:bg-contain [&>span]:bg-center [&>span]:bg-no-repeat ${className ?? ""}`}
  {...rest}
>
  <slot name="img" />
  {Astro.slots.has("card-icon") && <slot name="card-icon" />}
</div>
