---
import Image from "@/components/Image.astro";
import { images } from "@/images/images.ts";
interface Props {
  className?: string;
  isTooltipContainer?: boolean;
}

const { className, isTooltipContainer = false, ...rest } = Astro.props as Props;
---

<div
  class={`relative w-full min-w-[812px] min-h-[375px] max-w-[1605px] max-h-[775px] overflow-auto flex flex-col ${className ?? ""}`}
  {...rest}
>
  <Image
    name="mobile-mockup"
    className="object-fill"
    width="1605"
    height="775"
  />
  <div
    class="!absolute top-0 left-0 right-0 bottom-0 block m-[15px] desktop-md:m-[30px] bg-center bg-cover bg-no-repeat"
    style={{ backgroundImage: `url(${images?.["mobile-mockup-bg"]})` }}
    tooltip-container={isTooltipContainer}
  >
    <slot />
  </div>
</div>
