---
interface Props {
  className?: string;
  isTooltipContainer?: boolean;
}

const { className, isTooltipContainer = false, ...rest } = Astro.props as Props;
---
<style>
  [interactive-interface] {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  [interactive-interface]::-webkit-scrollbar {
    display: none;
  }
</style>

<div
  class={`relative w-full min-w-[812px] max-w-[1460px] min-h-[460px] bg-[#00070C] rounded-[30px] p-[15px] desktop-md:p-[30px] overflow-auto flex flex-col ${className ?? ""}`} 
  tooltip-container={isTooltipContainer}
  interactive-interface
  {...rest}
>
<slot />
  <!-- <Image
    name="mobile-mockup"
    className="object-fill"
    width="1605"
    height="775"
  /> -->
  <!-- <div
    class="!absolute top-0 left-0 right-0 bottom-0 block m-[15px] desktop-md:m-[30px] bg-center bg-cover bg-no-repeat"
    style={{ backgroundImage: `url(${images?.["mobile-mockup-bg"]})` }}
    tooltip-container={isTooltipContainer}
  >
    <slot />
  </div> -->
</div>
