---
import { Image } from "astro:assets";
import crossIcon from "@images/cross-btn-gold.svg";
---

<style>
  dialog:-internal-dialog-in-top-layer::backdrop {
    background: rgba(13, 13, 13, 0.7);
  }
  dialog > [modal-content] {
    display: none;
    height: 0;
    opacity: 0;
    transition: 0.5s linear;
  }
  dialog > [modal-content].open {
    display: block;
    height: auto;
    opacity: 1;
  }
</style>

<div modal-btn>
  <slot name="modal-btn" />
</div>
<dialog
  class="bg-transparent flex items-center justify-center px-4 desktop-sm:px-8 py-12"
>
  <div modal-content>
    <span
      modal-close
      class="fixed right-4 top-4 desktop-sm:right-8 desktop-sm:top-4 cursor-pointer desktop-sm:w-[60px]"
    >
      <Image src={crossIcon} alt="cross" class="w-full" />
    </span>
    <div class="w-[80%] h-[80%]">
      <slot />
    </div>
  </div>
</dialog>

<script>
  const modalBtns = document.querySelectorAll("[modal-btn]");
  modalBtns?.forEach((el) => {
    const btn = el as HTMLElement;
    const dialog = btn.nextElementSibling as HTMLElement;
    const dialogContent = dialog.querySelector("[modal-content]") as HTMLElement;
    const closeBtn = dialog.querySelector("[modal-close]") as HTMLElement;
    btn.addEventListener("click", (e: Event) => {
      e.preventDefault();
      //@ts-ignore
      dialog?.showModal();
      document.body.classList.add("overflow-hidden");
      dialogContent.classList.add("open");
    });
    closeBtn?.addEventListener("click", (e: Event) => {
      e.preventDefault();
      closeModal(dialog, dialogContent);
    });
    dialog.addEventListener("click", (e: Event) => {
      e.preventDefault();
      const target = e.target as HTMLElement;
      console.log(target, this)
      if(target === dialog) {
        closeModal(dialog, dialogContent);
      }
    })
  });
  function closeModal(dialog: HTMLElement, dialogContent:HTMLElement){
      //@ts-ignore
      dialog.close();
      dialogContent.classList.remove("open");
      document.body.classList.remove("overflow-hidden");
  }
</script>
