---
import StatisticItem from "./StatisticItem.astro";

interface Props {
  coin?: string;
  cards?: string;
  power?: string;
  followers?: string;
}

const {
  coin = "0",
  cards = "0"
} = Astro.props as Props;
---

<div class="h-full w-full flex items-center justify-between gap-[10px] px-[6px]" tooltip-id="statistics">
  <StatisticItem icon="icon-empty-coin-silver" content={coin} />
  <StatisticItem icon="icon-cards-silver" content={cards} />
</div>
