@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Bebas-Neue";
  font-style: "normal";
  font-weight: 400;
  src: local("Bebas-Neue"),
  url("fonts/Bebas-Neue.ttf") format('truetype'),
}

:root {
  --shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
  --shadow1: 0px 0px 14px rgba(229, 149, 46, 0.21);
  --shadow1-md: 0px 0px 10px rgba(229, 149, 46, 0.4);
  --shadow2: 0px 0px 5px rgba(116, 115, 122, 1);
  --shadow3: 0px 0px 25px rgba(255, 187, 56, 0.55);
  --shadow4: 0px 0px 100px rgba(255, 214, 133, 0.89);
  --shadow5: 0px 0px 2px rgba(0, 0, 0, 0.7);
  --shadow8: 0px 0px 5px rgba(229, 149, 46, 0.35);
}

body {
  box-sizing: border-box;
  background-color: #000;
  font-family: "Jost", "sans-serif";
  color: "#dc9644";
  font-weight: 400;
  font-size: 16px;
}
.wrapper {
  width: 100%;
  max-width: 1980px;
  min-width: 697px;
  margin: 0 auto;
  padding: 0 15px;
}
.gold-bordered {
  position: relative;
}
.gold-bordered:before,
  .gold-bordered:after,
  .silver-bordered:before,
  .silver-bordered:after {
    content: "";
    position: absolute;
    width: 60%;
    height: 80%;
    border-radius: 5px;
    z-index: 1;
  }
  .gold-bordered:before,
  .silver-bordered::before {
    bottom: 0;
    left: 0;
  }
  .gold-bordered:after,
  .silver-bordered::after {
    top: 0;
    right: 0
  }
  .gold-bordered:before {
    background: linear-gradient(
      40deg,
      #d1ae6d 6%,
      #615845 20%,
      transparent 45%
    );
  }
  .gold-bordered:after {
    background: linear-gradient(
      220deg,
      #d1ae6d 6%,
      #615845 20%,
      transparent 45%
    );
  }
  .silver-bordered::before {
    background: linear-gradient(
      40deg,
      #A9A9A9 6%,
      #616161 20%,
      transparent 45%
    );
  }
  .silver-bordered::after {
    background: linear-gradient(
      220deg,
      #A9A9A9 6%,
      #616161 20%,
      transparent 45%
    );
  }

@media (min-width: 1280px) {
  .wrapper {
    padding: 0 30px;
  }
}