---
import Image from "@assets/Image.astro";
interface Props {
  name: string;
  active?: boolean;
}

const { name, active = false } = Astro.props as Props;
---

<div
  class="w-full h-full flex justify-center items-center gap-[4px] desktop-md:gap-[8px] px-[4px] desktop-md:px-[8px]"
  tooltip-id="player-name"
>
  {
    active && (
      <span class="block shrink-0 w-[6px] h-[5px] desktop-md:w-[12px] desktop-md:h-[10px]">
        <Image name="icon-crown" width="12" height="10" />
      </span>
    )
  }
  <h3
    class="grow text-center text-silver break-words uppercase text-[5px] desktop-md:text-[10px] overflow-hidden whitespace-nowrap text-ellipsis"
  >
    {name}
  </h3>
</div>
