---
import Image from '@assets/Image.astro';
interface Props {
  name: string;
  active?: boolean;
}

const { name, active = false } = Astro.props as Props;
---

<div class="w-full flex items-center gap-[4px] laptop:gap-[8px]">
  {active && <Image name="icon-crown" className='shrink-0 w-[6px] h-[5px] laptop:w-[12px] laptop:h-[10px]'/>}
  <h3 class="grow text-center text-silver break-words uppercase text-[5px] laptop:text-[10px]">{name}</h3>
</div>
