---
interface Props {
  type?: "active" | "default" | undefined;
}

const { type } = Astro.props as Props;
---

<div class=`w-full h-full gold-bordered rounded-[5px] p-[1px] ${type}`>
  <div
    class=`relative flex w-full h-full ${type === 'active' ? 'bg-green-gradient-90' : 'bg-black-gradient-90'} rounded-[5px] z-10`
  >
    <div
      class="w-[26%] max-w-[130px] min-w-[65px] max-h-full flex flex-col shadow-[3px_0_4px_0_rgba(0,0,0,0.4)] rounded-l-[5px] [&>*]:flex [&>*]:justify-center [&>*]:items-center"
    >
      <div
        class="shrink-0 h-[15px] desktop-md:h-[30px] shadow-[0_4px_8px_0_rgba(0,0,0,0.9)] relative z-20"
      >
        <slot name="table-item-player-name" />
      </div>
      <div
        class="grow h-[calc(100%-17%-15px)] desktop-md:h-[calc(100%-17%-30px)] [&>div]:h-full"
      >
        <slot name="table-item-hero" />
      </div>
      <div
        class="shrink-0 h-[17%] min-h-[24px] max-h-[48px] shadow-[0_-4px_8px_0_rgba(0,0,0,0.9)] flex flex-col items-center px-[4px] py-[4px] desktop-lg:px-[8px] desktop-lg:py-[6px] relative z-20"
      >
        <slot name="table-item-statistic" />
      </div>
    </div>
    <div
      class="relative grow p-[15px] flex flex-col justify-center items-center"
    >
      <span class="absolute top-0 right-0 z-20">
        <slot name="table-item-power" />
      </span>
      <div class="flex flex-col gap-[9px] desktop-md:gap-[12px] [&>div]:min-w-[93px] [&>div]:flex [&>div]:flex-wrap [&>div]:gap-[9px] [&>div]:desktop-md:gap-[12px]">
        <slot name="table-item-followers-row" />
      </div>
    </div>
  </div>
</div>
