---
import type { tooltip } from "@ts/types";

interface Props {
  id: string;
  content: tooltip;
}
const { content, id } = Astro.props as Props;
---

<div tooltip-for={id} tooltip-content={JSON.stringify(content)} class="hidden">
</div>
