---
import "../styles/global.css";

interface Props {
  title?: string;
  className?: string;
}

const { title = "Reign", className } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
    <slot name="head" />
  </head>
  <body class="bg-black">
    <div
      class={`p-container py-[60px] ${className ?? ""}`}
    >
      <slot />
    </div>
    <slot name="scripts" />
  </body>
</html>
