---
import i18next from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";
import Header from "@components/Header.astro";
import { ViewTransitions } from "astro:transitions";
import Footer from "@/components/Footer.astro";

interface Props {
  title: string;
  className?: string;
}

const { title, className } = Astro.props;
---

<!doctype html>
<html lang={i18next.language}>
  <head>
    <ViewTransitions />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/global.css" />
    <title>{title}</title>
    <slot name="head" />
    <HeadHrefLangs />
  </head>
  <body class={`min-h-screen flex flex-col ${className ?? ""}`}>
    <Header /> 
    <main class="grow w-full overflow-hidden">
      <slot />
    </main>
    <Footer/>
    <slot name="scripts" />
  </body>
</html>
