---
import i18next, { t } from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";
import Header from "@components/Header.astro";
import "../styles/global.css";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title?: string;
  className?: string;
}

const { title = "Reign", className } = Astro.props;
---

<!doctype html>
<html lang={i18next.language}>
  <head>
    <ViewTransitions />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
    <slot name="head" />
    <HeadHrefLangs />
  </head>
  <body>
    <Header t={t} />
    <main class={`p-container px-4 desktop-sm:px-7 py-14 ${className ?? ""}`}>
      <slot />
    </main>
    <slot name="scripts" />
  </body>
</html>
