
<h2 class="text-gold-3 uppercase text-3xl desktop-lg:text-4xl relative flex flex-col items-center justify-center gap-4 mb-[50px] after:h-[2px] after:w-[80%] after:bg-[linear-gradient(0.25turn,rgba(104,91,70,0.05)_0%,rgba(227,139,83,1)_52%,rgba(104,91,70,0.05)_100%)]">
    <slot/>
</h2>
